<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать ДСЕ</title>
</head>
<body>
<div>
	<a th:href="@{/dse/{id}(id=${dse.getId()})}">Вернуться назад</a>
</div>
<br/>
<hr/>
<div align="center">
<form th:method="PATCH" th:action="@{/dse/{id}(id=${dse.getId()})}" th:object="${dse}">
    <label for="oboznDse">Введите обозначение: </label>
    <input type="text" th:field="*{oboznDse}" id="oboznDse"/>
    <div style="color:red" th:if="${#fields.hasErrors('oboznDse')}" th:errors="*{oboznDse}">Obozn Error</div>
    <br/>
    <label for="nameDse">Введите название: </label>
    <input type="text" th:field="*{nameDse}" id="nameDse"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameDse')}" th:errors="*{nameDse}">Name Error</div>
    <br/>
    <label for="material">Введите материал: </label>
    <input type="text" th:field="*{material}" id="material"/>
    <div style="color:red" th:if="${#fields.hasErrors('material')}" th:errors="*{material}">Material Error</div>
    <br/>
    <input type="submit" value="Обновить"/>
</form>
</div>
</body>
</html>