<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая операция</title>
</head>
<body>
<div>
	<a th:href="@{/operations}">Вернуться назад</a>
</div>
<br/>
<hr/>
<div align="center">
<form th:method="POST" th:action="@{/operations}" th:object="${operation}">
   <label for="name">Введите название: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="code">Введите код: </label>
    <input type="text" th:field="*{code}" id="code"/>
    <div style="color:red" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">Code Error</div>
    <br/>
    <label for="priznakChpu">Поставьте признак ЧПУ: </label>
    <input type="checkbox" th:field="*{priznakChpu}" th:checked="*{priznakChpu}" id="priznakChpu"/>
    <br/>
    <input type="submit" value="Создать"/>  
</form>
</div>
</body>
</html>